    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:47
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apple:before { content: "\f100"; }
.flaticon-aubergine:before { content: "\f101"; }
.flaticon-carrot:before { content: "\f102"; }
.flaticon-cherry:before { content: "\f103"; }
.flaticon-chili:before { content: "\f104"; }
.flaticon-grapes:before { content: "\f105"; }
.flaticon-kiwi:before { content: "\f106"; }
.flaticon-lemon:before { content: "\f107"; }
.flaticon-onion:before { content: "\f108"; }
.flaticon-orange:before { content: "\f109"; }
.flaticon-pear:before { content: "\f10a"; }
.flaticon-pepper:before { content: "\f10b"; }
.flaticon-pineapple:before { content: "\f10c"; }
.flaticon-strawberry:before { content: "\f10d"; }
.flaticon-tomato:before { content: "\f10e"; }
.flaticon-watermelon:before { content: "\f10f"; }
    
    $font-Flaticon-apple: "\f100";
    $font-Flaticon-aubergine: "\f101";
    $font-Flaticon-carrot: "\f102";
    $font-Flaticon-cherry: "\f103";
    $font-Flaticon-chili: "\f104";
    $font-Flaticon-grapes: "\f105";
    $font-Flaticon-kiwi: "\f106";
    $font-Flaticon-lemon: "\f107";
    $font-Flaticon-onion: "\f108";
    $font-Flaticon-orange: "\f109";
    $font-Flaticon-pear: "\f10a";
    $font-Flaticon-pepper: "\f10b";
    $font-Flaticon-pineapple: "\f10c";
    $font-Flaticon-strawberry: "\f10d";
    $font-Flaticon-tomato: "\f10e";
    $font-Flaticon-watermelon: "\f10f";