
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('images/planetbackground.jpg');
  background-size: cover;
  background-position: center;
}

.memorygame {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 470px;
  height: 450px;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  background-color: rgba(109, 26, 228, 0.4);
}

.memorysquare{
  height: 75px;
  width: 75px;
  background-repeat: no-repeat;
  background-position: center;
  /*height: 20px;
  width: 20px;*/
}

.matched {
background-color: rgba(105, 224, 33, 0.72);
border-style: outset;
border-width: thick;
border-color: white;
}

.hidden:not(.matched) {
  display: none;
}

.reset {
  margin-top: 40px;
  background-color: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  border: none;
  color: rgb(133, 4, 247);
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
}
.dialog {
  background-color: rgba(238, 238, 238, 0.71);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 px #333;
  border-radius: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(131, 33, 177, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*body:not(.modal) .overlay {
  display: none;
}*/

body.modal {
  filter: blur(5px);
}


/*icons*/

.alien1 {
  background-image: url('images/alien1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien2 {
  background-image: url('images/alien2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien3 {
  background-image: url('images/alien3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien4 {
  background-image: url('images/alien4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien5 {
  background-image: url('images/alien5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien6 {
  background-image: url('images/alien6.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien7 {
  background-image: url('images/alien7.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}

.alien8 {
  background-image: url('images/alien8.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 75px;
  width: 75px;
}
